body{
    background-image: url(indexBackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    text-align: center;
    margin-top: 300px;
    color: rgb(52, 116, 51);
    font-size: 50px;
}
button{
    border-radius: 10px;
    background-color: rgb(255, 193, 7);
}
button:hover{
    background-color: rgb(231, 211, 211);
}
#button1{
    margin-left: 650px;
    margin-top: 30px;
    font-size: 25px;
    /* background-color: rgb(255, 193, 7); */
    
}
#button2{
    font-size: 25px;
    /* background-color: rgb(255, 193, 7); */
    margin-left: 20px;
}
a{
    text-decoration: none;
    color: rgb(178, 34, 34);
}
